Source: libfwnt
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, pkg-config, python3-dev, python3-setuptools
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libfwnt
Vcs-Git: https://github.com/libyal/libfwnt.git

Package: libfwnt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfwnt1
Replaces: libfwnt1
Suggests: libfwnt-dbg
Description: Library to support common Windows NT specific formats
 libfwnt is a library to support common Windows NT specific formats.

Package: libfwnt-dbg
Architecture: any
Section: debug
Depends: libfwnt (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfwnt
 Debugging symbols for libfwnt.

Package: libfwnt-dev
Section: libdevel
Architecture: any
Depends: libfwnt (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfwnt
 Header files and libraries for developing applications for libfwnt.

Package: libfwnt-python3
Section: python
Architecture: any
Depends: libfwnt (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libfwnt
Replaces: python3-libfwnt
Suggests: libfwnt-python3-dbg
Description: Python 3 bindings for libfwnt
 Python 3 bindings for libfwnt.

Package: libfwnt-python3-dbg
Section: debug
Architecture: any
Depends: libfwnt-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfwnt-python3
 Debugging symbols for libfwnt-python3.

