Source: libfwnt
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libfwnt/

Package: libfwnt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfwnt-dbg
Description: Library to support common Windows NT specific formats.
 libfwnt is a library to support common Windows NT specific formats.

Package: libfwnt-dbg
Architecture: any
Section: debug
Depends: libfwnt (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfwnt
 Debugging symbols for libfwnt.

Package: libfwnt-dev
Section: libdevel
Architecture: any
Depends: libfwnt (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfwnt
 Header files and libraries for developing applications for libfwnt.

